# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
qa-screenshots/

# production
dist/
.astro/
.wrangler/
.astro/

# misc
.DS_Store
.env
.env.local
.env.production.local
.env.keys

# editor
.vscode/
.idea/
graphify-out/
