# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
.astro/
src/data/payload-content.json
.wrangler/
.astro/

# misc
.DS_Store
.env
.env.local
.env.production.local
.env.keys

# editor
.vscode/
.idea/
graphify-out/
